@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KfsDocs</h1>
    <p class="lead">KfsDocs Is A Web Application Created To Help You Communicate Better With Co Workers</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
