@model WebApplication2.Models.ViewModels.MainIndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KfsDocs</h1>
   
</div>
<table id="table" class="display">
    <thead>
        <tr>
            <th>إسم الملف</th>
            <th>المستوى</th>

            <th>المالك</th>
            <th>المؤسسة</th>

            <th>تاريخ الإنشاء</th>

        </tr>
    </thead>
    <tbody>



        @foreach (var file in Model.Files)
        {

        <tr>

             <td>@Html.ActionLink(file.Name, "View", "Files", new { id = file.ID }, null)</td>
            <td>@Html.ActionLink(file.EmployeeRole.Employee.Name, "PersonProfile", "Employeess", new { id = file.EmployeeRole.EmployeeID }, null)</td>

            <td>@Html.ActionLink(file.EmployeeRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = file.EmployeeRole.InstitutionID }, null)</td>

            <td>@file.DateCreated</td>

        </tr>


        }

    </tbody>
</table>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#table').DataTable();
        });

    </script>
}