@model WebApplication2.Models.ViewModels.SearchModel


@{ ViewBag.Title = "نتائج البحث";}
<h2>
    @ViewBag.Title
</h2>




<h4>الموظفين</h4>
@if (Model.Employees.Count > 0)
{

    <table class="table">
        <tr>
            <th>الإسم</th>
        </tr>

        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.Name, "PersonProfile", "Employees", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
}
else
{ <h5>لا يوجد نتائج </h5>}

<br />

<h4>المؤسسات</h4>
@if (Model.Institutions.Count > 0)
{

    <table class="table">
        <tr>
            <th>الإسم</th>
        </tr>

        @foreach (var item in Model.Institutions)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.ArabicName, "InstitutionProfile", "Institutions", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
}
else
{ <h5>لا يوجد نتائج</h5>}


<br />

<h4>الملفات</h4>
@if (Model.Files.Count > 0)
{

    <table class="table">
        <tr>
            <th>الإسم</th>
        </tr>

        @foreach (var item in Model.Files)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.Name, "View", "Files", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
}
else
{ <h5>لا يوجد نتائج</h5>}







