<h2></h2>
<div class="danger taps" style="background-color: #dc3545;color :#fff">
    <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">
    تعذر المسح
    <h5 style="font-weight:600">لا يمكن مسح شخص لديه وظائف قائمة  </h5>

</h4>
</div>
