@model  WebApplication2.Models.ViewModels.Messages.InboxModel

@{
    ViewBag.Title = "صندوق الوارد";
}

<h2>صندوق الوارد</h2>



@if (Model.MyMessages.Count > 0)
{

<table class="table">
    <tr>

        <th>
            المرسل
        </th>
        <th>
            عنوان الرسالة
        </th>

        <th>
            التاريخ
        </th>



    </tr>

    @foreach (var item in Model.MyMessages)
    {

        string style = "";

        if (item.Seen != true)
        {
            style = "background-color:#e2e2e1;";

        }


        <tr style="@style">


            <td>
                @Html.ActionLink(item.Employee1.Name, "PersonProfile", "Employees", new { id = item.SenderID }, null)

            </td>
            <td>
                @Html.ActionLink(item.HeaderText,"View","Messages",new { id=item.ID},null)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>



        </tr>


    }




</table>
}
else
{
    <hr/>
    <h4> لا يوجد رسائل واردة           </h4>
}
