

@model  WebApplication2.Models.ViewModels.Messages.InboxModel

@{
    ViewBag.Title = "صندوق المرسل";
}
<img style="display:inline-block;padding-bottom:10px" src="~/Content/package.png" width="80" height="80" />
<h2 style="display:inline-block;padding-bottom:10px">صندوق المرسل</h2>



@if (Model.MyMessages.Count > 0)
{
    <table style="border-radius: 10px" id="table" class="display  table-responsive">
        <thead>
            <tr style="color: #000; background-color: #f5f5f5;">

                <th>
                    المستلم
                </th>
                <th>
                    عنوان الرسالة
                </th>

                <th>
                    التاريخ
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyMessages)
            {

                string style = "";

                if (item.Seen != true)
                {
                    style = "background-color:#e2e2e1;";

                }


                <tr style="@style">


                    <td>
                        @Html.ActionLink(item.Employee.Name, "PersonProfile", "Employees", new { id = item.RecieverID }, null)

                    </td>
                    <td>
                        @Html.ActionLink(item.HeaderText, "View", "Messages", new { id = item.ID }, null)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>



                </tr>


            }



        </tbody>
    </table>
}
else
{
    <hr />
    <h4> لا يوجد رسائل مرسلة           </h4>
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#table').DataTable();
        });

    </script>
}