

@model  WebApplication2.Models.ViewModels.Messages.InboxModel

@{
    ViewBag.Title = "صندوق المرسل";
}
<img style="display:inline-block;padding-bottom:10px" src="~/Content/package.png" width="80" height="80" />
<h2 style="display:inline-block;padding-bottom:10px">صندوق المرسل</h2>



@if (Model.MyMessages.Count > 0)
{
<div class="table-responsive">
    <table class="table table-hover">
        <tr style="color:white;background-color:black">

            <th>
                المستلم
            </th>
            <th>
                عنوان الرسالة
            </th>

            <th>
                التاريخ
            </th>



        </tr>

        @foreach (var item in Model.MyMessages)
        {

            string style = "";

            if (item.Seen != true)
            {
                style = "background-color:#e2e2e1;";

            }


            <tr style="@style">


                <td>
                    @Html.ActionLink(item.Employee.Name, "PersonProfile", "Employees", new { id = item.RecieverID }, null)

                </td>
                <td>
                    @Html.ActionLink(item.HeaderText, "View", "Messages", new { id = item.ID }, null)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>



            </tr>


        }




    </table>
    </div>
    }
    else
    {
    <hr />
    <h4> لا يوجد رسائل مرسلة           </h4>
    }
