
@model  WebApplication2.Models.ViewModels.MenuModel


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div style="float:right" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @*@Html.ActionLink(Model.Name, "PersonProfile", "Employees", new { id = Model.ID, area = "" }, new { @class = "navbar-brand" })*@
        <div style="float:right">
            <ul class="nav navbar-nav navbar-right">
                <li style="display: inline-table" class="dropdown">
                    <a style="font-size:20px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Label(Model.Name) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Roles/ChooseDefault">تغيير وظيفتي</a></li>
                        <li><a href="~/ActivityLogs">سجل العمليات</a></li>

                        <li><a href="~/Employees/MyProfile">الصفحة الشخصية  <i class="far fa-address-card"></i> </a></li>
                        <li><a href="~/Home/Logout">تسجيل الخروج  <i class="fas fa-sign-out-alt"></i></a></li>

                    </ul>
                </li>
                <a href="~/Employees/MyProfile"><img class="img-circle" height="35" width="35" src="data:image/jpg;base64,@Model.Img"></a>
                </ul>
        </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">المؤسسات <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Institutions">عرض كل المؤسسات</a></li>
                        <li><a href="~/Institutions/Types">أنواع المؤسسات</a></li>


                        <li role="separator" class="divider"></li>
                        @if (Model.canCreateInstitution)
                        {
                            <li><a href="~/Institutions/Create">إنشاء جديد</a></li>
                        }


                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الوظائف <span class="caret"></span></a>
                    <ul class="dropdown-menu">


                        @if (Model.canViewAllRoles)
                        {
                            <li><a href="~/Roles">عرض الوظائف</a></li>
                        }
                        @if (Model.canCreateRole)
                        {
                            <li><a href="~/Roles/Create">إنشاء وظيفة</a></li>
                        }



                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الموظفين <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/EmployeeRoles/Index">كافة الموظفين</a></li>

                        <li role="separator" class="divider"></li>
                        @if (Model.canCreateEmployee)
                        {
                            <li><a href="~/Employees/Create">إنشاء شخص</a></li>
                        }

                        @if (Model.canAttachRole)
                        {
                            <li><a href="~/EmployeeRoles/Create">تعيين شخص</a></li>
                        }
                    

                      
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الملفات <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="~/Files/Mentions">الإشارات</a></li>

                        <li><a href="~/Bookmarks">المفضلة</a></li>

                        <li><a href="~/Files/FileLevels">مستويات الخصوصية</a></li>

                        <li role="separator" class="divider"></li>
                        @if (Model.canCreateFile)
                        {
                            <li><a href="~/Files/Create">إنشاء ملف</a></li>
                        }
                        @if (Model.canCreateLevel)
                        {
                            <li><a href="~/Files/CreateLevel">إنشاء مستوى ملف</a></li>
                        }

                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الرسائل <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Messages/Send">إرسال رسالة</a></li>

                        <li><a href="~/Messages/Inbox">الواردة</a></li>
                        <li><a href="~/Messages/Sent">المرسلة</a></li>

                    </ul>
                </li>









                @*<li>@Html.ActionLink("تسجيل الدخول", "Login", "Home")</li>
        <li>@Html.ActionLink("إنشاء حساب", "SetupAccount", "Home")</li>*@


            </ul>
            <div style="float:left">
               @* <a style=" position: relative; left: 35px; top: -2px; color: aquamarine;" class="" href="~/Home/Logout">
                    <img style="display:inline-block;padding-bottom:10px;margin-top:15px;position:relative;top:0px;left:8px" src="~/Content/logout.png" width="40" height="40" /> 
                </a>*@
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline my-3 my-lg-5 navbar-right navbar-form", @style = "margin-top:8px;margin-left:170px;direction: ltr;" }))
                    {
                <div class="form-group">
                    @Html.TextBox("query", null, new { @style = "border-radius:50px;padding-top: 10px;padding-bottom: 9px; padding-right: 33px;padding-left: 38px;background-color: #f0f2f5;border:0;outline: none;direction: rtl;", @placeholder = " بحث (أشخاص - ملفات - المؤسسات )" })
                </div>
                    <button type="submit" style="background-color: inherit; border: none; outline: none; position: relative; right: 36px; top: 2px; font-size: 18px; color: #808080fa; "> <i class="fas fa-search"></i></button>

                    }
                </div>


        </div>
    </div>
</div>
