@model WebApplication2.Models.ViewModels.ViewFileLevelsModel

@{
    string level = "A";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("الوظيفة")
        </th>
        <th>
            @Html.DisplayName("العمليات")
        </th>

    </tr>
<h2>
  المستوى A
</h2>
    @foreach (var item in Model.LevelsDictionary[level])
    {
        <tr>
            <td>
             @item.Key
            </td>

            <td>
                <ul>
                    @foreach (var permission in item.Value)
                    {
                        <li>

                            @permission
                            </li>


                        }
                </ul>
            </td>

        </tr>
    }

</table>
