@model IEnumerable<WebApplication2.Models.Institution>

@{
    ViewBag.Title = "المؤسسات";
}
<br/>
<img style="display:inline-block;padding-bottom:10px;" src="~/Content/university.png" width="80" height="80" />
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;">@ViewBag.Title</h2>
<br />
<br />
<div class="table table-responsive mt-3">
    <table class="table table-hover ">
        <tr style="color:white;background-color:gray">
            <th>
                الإسم
            </th>



            <th>
               نوع المؤسسة
            </th>
            <th>
                تابعة لـ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ArabicName, "InstitutionProfile", new { id = item.ID })
                </td>


        
                
                
                
                <td>
            @Html.DisplayFor(modelItem => item.InstitutionType.ArabicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institution2.ArabicName)
        </td>
      
    </tr>
        }
        @*<tr style="color:white;background-color:grey">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
    </table>
</div>
