@model WebApplication2.Models.ViewModels.InstitutionModels.ViewInstitutionTypesModel


@{ ViewBag.Title= "أنواع المؤسسات";}

<h2>@ViewBag.Title</h2>
<br/>

@if (Model.canAdd)
{
<a href="~/Institutions/CreateType">أضافة نوع </a>
}

<table id="table" class="display table table-responsive">
    <thead>
        <tr style="color:white;background-color:#333333">
            <th>
                الإسم
            </th>
            <th>
                الوصف
            </th>
            <th>
                عدد المؤسسات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Types)
        {
<tr>
    <td>
        @item.ArabicName
    </td>


    <td>
        @item.Description

    </td>
    <td>
        @item.Institutions.Count
    </td>
    <td>
        @if (Model.canEdit)
        {
<a href="~/Institutions/EditType/@item.ID">  تعديل  </a>}
        @if (Model.canEdit && Model.canDelete && item.Institutions.Count == 0)
        { <span>|</span>}
        @if (Model.canDelete && item.Institutions.Count == 0)
        {
<a href="~/Institutions/DeleteType/@item.ID">  مسح</a>}

    </td>

</tr>}
    </tbody>
</table>

