@model WebApplication2.Models.ViewModels.InstitutionModels.ViewInstitutionTypesModel


@{ ViewBag.Title= "أنواع المؤسسات";}

<i style="font-size:50px;padding:5px;margin-top:10px" class="fas fa-university"></i><h2 style="display:inline-block">@ViewBag.Title</h2>


@if (Model.canAdd)
{
<a class="btn btn-primary but1" href="~/Institutions/CreateType">أضافة نوع </a>
}

<table id="table" class="display table table-responsive table-hover">
    <thead>
        <tr style="color:white;background-color:#333333">
            <th>
                الإسم
            </th>
            <th>
                الوصف
            </th>
            <th>
                عدد المؤسسات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Types)
        {
<tr>
    <td>
        @item.ArabicName
    </td>


    <td>
        @item.Description

    </td>
    <td>
        @item.Institutions.Count
    </td>
    <td>
        @if (Model.canEdit)
        {
<a class="btn btn-primary" href="~/Institutions/EditType/@item.ID">  تعديل  </a>}
        @if (Model.canEdit && Model.canDelete && item.Institutions.Count == 0)
        { <span>|</span>}
        @if (Model.canDelete && item.Institutions.Count == 0)
        {
<a class="btn btn-danger" href="~/Institutions/DeleteType/@item.ID">  مسح</a>}

    </td>

</tr>}
    </tbody>
</table>

